[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group Moto X (2015)
	forgeAuthor = group Moto X (2015)
	forgeCommitter = group Moto X (2015)
	push = group Moto X (2015)
	label-Code-Review = -2..+2 group Moto X (2015)
	label-Verified = -1..+1 group Moto X (2015)
	submit = group Moto X (2015)
